<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:include="include :: head('修改密码')"></th:block>
    </head>
    <body>
        <div class="lyear-layout-web">
            <div class="lyear-layout-container">
                <aside class="lyear-layout-sidebar">
                    <th:block th:include="include :: sidebar('首页')"></th:block>
                </aside>
                <header class="lyear-layout-header">
                    <th:block th:include="include :: header('修改密码')"></th:block>
                </header>
                <!--页面主要内容-->
                <main class="lyear-layout-content">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card" id="infoModal">
                                    <div class="card-header">
                                        <h4>个人信息</h4>
                                    </div>
                                    <div class="card-body">
                                        <div class="modal-dialog" id="updatePasswordModal" role="document">
                                            <div class="modal-content">
                                                <div class="modal-body">
                                                    <form class="form-horizontal">
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">原始密码<span
                                                                    class="text-danger">*</span></label>
                                                            <div class="col-sm-9">
                                                                <input class="form-control" type="password"
                                                                       name="oldPassword">
                                                                <span class="help-block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">新密码<span
                                                                    class="text-danger">*</span></label>
                                                            <div class="col-sm-9">
                                                                <input class="form-control" type="password"
                                                                       name="newPassword">
                                                                <span class="help-block"></span>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-2 control-label">重复密码<span
                                                                    class="text-danger">*</span></label>
                                                            <div class="col-sm-9">
                                                                <input class="form-control" type="password"
                                                                       name="renewPassword">
                                                                <span class="help-block"></span>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary" id="updatePassword">
                                                        修改密码
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
                <!--End 页面主要内容-->
            </div>
        </div>
        <script type="text/javascript">


            $(function () {
                // 表单重置
                resetForm("#updatePasswordModal form")
                const id = parseInt($(this).parents("tr").find("td:eq(0) input").val())
                const username = $(this).parents("tr").find("td:eq(2)").text()
                $("#updatePasswordModal #updatePassword").attr("update_id", id)
                $("#updatePasswordModal h4").text("修改密码 - 用户名： " + username)
                // 校验密码
                const regPassword = /^[a-zA-Z0-9_-]{4,16}$/;
                const oldPassword = $("#updatePasswordModal [name='oldPassword']");
                tip(oldPassword, regPassword, "长度为4-20个字符，区分大小写")
                const newPassword = $("#updatePasswordModal [name='newPassword']");
                tip(newPassword, regPassword, "长度为4-20个字符，区分大小写")
                const renewPassword = $("#updatePasswordModal [name='renewPassword']");
                const msg = "重复密码与新密码不一致！"
                renewPassword.focus(function () {
                    $(this).parent().removeClass("has-error has-success")
                    $(this).next("span").text(msg)
                })
                newPassword.on("input propertychange", function () {
                    validatePassword(newPassword, renewPassword, msg)
                }).blur(function () {
                    validatePassword(newPassword, renewPassword, msg)
                })
                renewPassword.on("input propertychange", function () {
                    validatePassword(newPassword, renewPassword, msg)
                }).blur(function () {
                    validatePassword(newPassword, renewPassword, msg)
                })
            })
            // 修改密码
            $("#updatePasswordModal").on("click", "#updatePassword", function () {
                // 校验数据
                if (!validate_password()) {
                    return false;
                }
                const loginUserType = localStorage.getItem('loginUserType');
                let url;
                if (loginUserType === '1') {
                    url = "/user/student/updatePassword"
                } else if (loginUserType === '2') {
                    url = "/user/teacher/updatePassword"
                } else if (loginUserType === '3') {
                    url = "/user/manager/updatePassword"
                }
                $.ajax({
                    url: url,
                    type: "POST",
                    contentType: 'application/json',
                    data: JSON.stringify({
                        "id": JSON.parse(localStorage.getItem('loginUser')).id,
                        "oldPassword": $('#updatePasswordModal [name="oldPassword"]').val(),
                        "newPassword": $('#updatePasswordModal [name="newPassword"]').val(),
                        "renewPassword": $('#updatePasswordModal [name="renewPassword"]').val()
                    }),
                    success: function (result) {
                        if (result.code === 200) {
                            notify_.notify(result.message, 'success', 100);
                            localStorage.clear()
                            window.location.replace("/login")
                        } else {
                            notify_.notify(result.message, 'danger', 100);
                        }
                    }
                })
            })

            // 校验提示
            function tip(ele, reg, msg) {
                ele.focus(function () {
                    $(this).parent().removeClass("has-error has-success")
                    $(this).next("span").text(msg)
                })
                ele.on("input propertychange", function () {
                    return validate(ele, reg, msg)
                }).blur(function () {
                    return validate(ele, reg, msg)
                })
            }

            // 数据校验
            function validate(ele, reg, msg) {
                if (reg.test(ele.val())) {
                    tipMsg(ele, "success", "")
                    return true
                } else {
                    tipMsg(ele, "error", msg)
                    return false
                }
            }

            // 数据校验
            function validatePassword(newPassword, renewPassword, msg) {
                if (renewPassword.val() === newPassword.val()) {
                    tipMsg(renewPassword, "success", "")
                    return true
                } else {
                    tipMsg(renewPassword, "error", msg)
                    return false
                }
            }

            // 提交数据-校验
            function validate_password() {
                const oldPassword = $("#updatePasswordModal [name='oldPassword']");
                const newPassword = $("#updatePasswordModal [name='newPassword']");
                const renewPassword = $("#updatePasswordModal [name='renewPassword']");
                if (oldPassword.val() === '' ||
                    newPassword.val() === '' ||
                    renewPassword.val() === '') {
                    notify_.notify('*为必填数据！', 'danger', 100);
                    return false;
                }
                return !(oldPassword.parent().hasClass("has-error") ||
                    newPassword.parent().hasClass("has-error") ||
                    renewPassword.parent().hasClass("has-error"));
            }
        </script>
    </body>
</html>