<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xxx.equip.mapper.NoticeMapper">

    <select id="selectDtoPage" resultType="com.xxx.equip.dto.NoticeDTO">
        select *
        from (
                 select distinct n.*, a.name as publishName
                 from notice n
                          left join admin a on n.publish_type = 0 and a.id = n.publish_id
                 where a.name is not null
                 union
                 select distinct n.*, u.name as publishName
                 from notice n
                          left join user u on n.publish_type != 0 and u.id = n.publish_id
                 where u.name is not null) new
            ${ew.customSqlSegment}

    </select>
    <select id="listPublish" resultType="com.xxx.equip.dto.NoticeDTO">
        select *
        from (
                 select distinct n.publish_id, n.publish_type, a.name as publishName
                 from notice n
                          left join admin a on n.publish_type = 0 and a.id = n.publish_id
                 where a.name is not null
                 union
                 select distinct n.publish_id, n.publish_type, u.name as publishName
                 from notice n
                          left join user u on n.publish_type != 0 and u.id = n.publish_id
                 where u.name is not null) new
            ${ew.customSqlSegment}
    </select>
</mapper>